/* 로그인 */
.login__wrap {
    width: 100%;
    height: 100%;
    background-color: #EFF0F2;
    min-height: 900px;
}
.login__banner--top {
    background-image: url('../images/admin/login-banner-img.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    min-height: 500px;
}
.login__banner--top h1 {
    padding-top: 22px;
    margin-left: 32px;
}
.login__banner--top .mark {
    margin-left: 15%;
    margin-top: 5%;
}
.login__banner--top .visual-text {    
    font-size: 72px;
    font-weight: 800;
    line-height: 85.92px;
    color:#16B860;        
    margin-left: 15%;
    margin-top: 1%;
}
.login__banner--bottom {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
.login-form__wrap {
    max-width: 530px;
    display: flex;
    flex-direction: column;
}
.login-form__wrap .tit {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color:#222529;
}
.login-form {
    margin: 24px 0 13px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.login-form input {
    width: 100%;
    height: 64px;
    border: 0;
    color:#AFB5BC;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;    
    text-indent: 15px;
}
.login-form input::placeholder {
    color:#AFB5BC;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;    
    text-indent: 15px;
}
.login-form input.line {
    border-bottom: 1px solid #E2E3E7;
}
.login-form__wrap .error-message {
    color:#FF4135;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-indent: 15px;
    opacity: 0;
    margin-bottom: 13px;
}
.login-form__wrap .error-message.show {
    opacity: 1;
}
.login-button {margin-bottom: 13px;}
.btn-login {
    display: block;
    width: 100%;
    height:64px;
    background-color: #16B860;
    border-radius: 10px;
    color:#fff;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}
.btn-login:disabled {
    filter: grayscale(1);
    cursor: none;    
}
.login-util {
    display: flex;
    justify-content: space-between;
    color:#222222;
}
.login-util .btn-link-text {
    font-size: 18px;
    line-height: 20px;
}

/* 체크박스 */
.checkbox {
    display: flex;
    align-items: center;
}
.checkbox input{display:none;}
.checkbox input + label{cursor:pointer;}  
.checkbox input + label:before{
    content:"";
    display:inline-block;
    width:18px;
    height:18px;
    border:1px solid #222;
    border-radius: 1px;
    vertical-align:middle;
    margin-right: 5px;
}

.checkbox input:checked + label:before{
    content:"✔";
    width:18px;
    height:18px;
    font-size: 13px;
    text-align: center;
    border:1px solid #222;
    background-color: #222;
    color:#fff;
}

/* 레이아웃 - 헤더 */
.adm-wrap {width: 100%;}
.header {width:auto;height:72px;padding: 0 32px;background-color: #35AD68;display:flex;align-items: center; justify-content:space-between;}
.header .header__nav--left {display: flex;align-items: center;gap: 64px;}
.admin-menu {display: flex;align-items: center;gap: 40px;}
.admin-menu li a {font-weight: 700;font-size: 20px;line-height: 23px;color: rgba(255,255,255,0.5);}
.admin-menu li.is-active a {color: rgba(255, 255, 255, 1);}
.header_util--right {display: flex;align-items: center;}
.header_util--right li {position: relative;padding:0 16px;}
.header_util--right li a {color:#fff;}
.header_util--right li::after {content: '';display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1px;height: 16px;background-color: rgba(255, 255, 255, 0.4);}
.header_util--right li:last-child::after {display: none;}

.admin__content {padding: 40px 48px;}

.full-between-area {width: 100%;display: flex; justify-content: space-between;margin-top: 16px;}
.full-between-area .msg {font-size: 20px;line-height: 24px;color:#5A5C5F;display: flex;align-items: flex-end;padding-bottom: 5px;}
.full-between-area .msg:only-child {padding-top: 15px;}
.full-between-area .msg strong {margin-left: 4px;}
.full-between-area .location {color:#909293;}
.full-between-area .location strong {color:#222;}
.staion-data {display: flex;gap: 32px;align-items: center;}
.staion-data .data-info {min-width: 167px;flex-basis: auto;}
.staion-data .data-info strong {margin-left:24px;}

.station-board {display: flex;margin: 20px 0 0px;justify-content: space-between;align-items: center;height: 140px; padding: 0 40px;background-color: #fff;border-radius: 8px;box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.05);}
.station-board .staion-name {display: flex;align-items: center;gap:24px;}
.station-board .staion-name .sub-info {margin-top: 6px;font-size: 12px;color:#5A5C5F;}
.station-board .staion-name .sub-info span {margin-left: 12px;color:#AFB5BC;}

.page-subtitle {margin-top: 40px;}

/* 모달 */
.form-el-list li {margin-bottom: 20px;}
.form-el-list li:last-child {margin-bottom: 0;}
.modal-confirm-msg {color:#35AD68;}

/* 탭메뉴 */
.tab-menu {border-bottom: 1.5px solid #222;display: flex;align-items: center;height:46px;margin-top: 16px;}
.tab-menu a {font-size: 18px;height: 100%;font-weight: 600;line-height: 21px;color:#222;padding:0 32px;display: flex;align-items: center;}
.tab-menu a.is-active {background-color: #222;color:#fff;border-top-left-radius: 8px;border-top-right-radius: 8px;}

/* 우편번호 */
.address-container {margin-top: 24px;}
.address-search .address-container {height: 330px; overflow-y: auto;margin-bottom: 30px;}
.address-container dt {font-size: 16px;font-weight: 600;line-height: 19px;color:#222;}
.address-container dd {font-size: 16px;font-weight: 400;line-height: 19px;color:#909293;padding: 6px 0 0 10px;}
.address-container dd + dt {margin-top: 16px;}
.address-search .btn-icon-back {position: absolute;left: 24px;top: 50%;transform: translateY(-50%);}
.address-search h3 {margin-left: 52px !important;}
.address-container li {border-bottom: 1px solid #E2E3E7;padding: 22px 0 16px;position: relative;}
.address-container li .tit {font-size: 16px;font-weight: 500;line-height:19px;color:#000;}
.address-container li .add {margin-top: 6px;font-size: 15px;font-weight: 500;line-height: 17px;color:#909293;}
.address-container li .add + .add {padding-top: 5px;}
.address-container li .add .label-default {border: 1px solid #cfd4da;padding: 4px 6px;width: 33px;height: 22px;margin-right: 6px;font-size: 12px;color:#909293;font-weight: 500;line-height: 14px;}
.address-container li .btn-select-add {position: absolute;right: 0;top: 16px;}
.hide {display: none;}