/* 로그인 */
.login__wrap {
    width: 100%;
    height: 100%;
    background-color: #EFF0F2;
    min-height: 900px;
}
.login__banner--top {
    background-image: url('../images/admin/login-banner-img.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    min-height: 500px;
}
.login__banner--top h1 {
    padding-top: 22px;
    margin-left: 32px;
}
.login__banner--top .mark {
    margin-left: 15%;
    margin-top: 5%;
}
.login__banner--top .visual-text {    
    font-size: 72px;
    font-weight: 800;
    line-height: 85.92px;
    color:#16B860;        
    margin-left: 15%;
    margin-top: 1%;
}
.login__banner--bottom {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
.login-form__wrap {
    max-width: 530px;
    display: flex;
    flex-direction: column;
}
.login-form__wrap .tit {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color:#222529;
}
.login-form {
    margin: 24px 0 13px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.login-form input {
    width: 100%;
    height: 64px;
    border: 0;
    color:#AFB5BC;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;    
    text-indent: 15px;
}
.login-form input::placeholder {
    color:#AFB5BC;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;    
    text-indent: 15px;
}
.login-form input.line {
    border-bottom: 1px solid #E2E3E7;
}
.login-form__wrap .error-message {
    color:#FF4135;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-indent: 15px;
    opacity: 0;
    margin-bottom: 13px;
}
.login-form__wrap .error-message.show {
    opacity: 1;
}
.login-button {margin-bottom: 13px;}
.btn-login {
    display: block;
    width: 100%;
    height:64px;
    background-color: #16B860;
    border-radius: 10px;
    color:#fff;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}
.btn-login:disabled {
    filter: grayscale(1);
    cursor: none;    
}
.login-util {
    display: flex;
    justify-content: space-between;
    color:#222222;
}
.login-util .btn-link-text {
    font-size: 18px;
    line-height: 20px;
}
.temp-password {margin-top: 8px;padding-bottom: 10px;}

/* 에러 페이지 */
.error__wrap {display: flex;align-items: center;justify-content: center;flex-direction: column; width: 100%;height: 100vh;background: url('../images/admin/bg_full.svg') no-repeat center center;background-size: cover;}
.error__wrap .erro_msg {display: flex;align-items: center;justify-content: center;flex-direction: column; gap: 24px;text-align: center;}

/* 레이아웃 - 헤더 */
.adm-wrap {width: 100%;min-width: 1400px;}
.header {width:auto;height:72px;padding: 0 32px;background-color: #35AD68;display:flex;align-items: center; justify-content:space-between;}
.header .header__nav--left {display: flex;align-items: center;gap: 64px;}
.admin-menu {display: flex;align-items: center;gap: 40px;}
.admin-menu li a {font-weight: 700;font-size: 20px;line-height: 23px;color: rgba(255,255,255,0.5);}
.admin-menu li.is-active a {color: rgba(255, 255, 255, 1);}
.header_util--right {display: flex;align-items: center;}
.header_util--right li {position: relative;padding:0 16px;}
.header_util--right li a {color:#fff;}
.header_util--right li::after {content: '';display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1px;height: 16px;background-color: rgba(255, 255, 255, 0.4);}
.header_util--right li:last-child::after {display: none;}

.admin__content {padding: 40px 48px;min-width: 1280px;}

.full-between-area {width: 100%;display: flex; justify-content: space-between;margin-top: 16px;}
.full-between-area .msg {font-size: 20px;line-height: 24px;color:#5A5C5F;display: flex;align-items: flex-end;padding-bottom: 5px;}
.full-between-area .msg:only-child {padding-top: 15px;}
.full-between-area .msg strong {margin-left: 4px;}
.full-between-area .location {color:#909293;}
.full-between-area .location strong {color:#222;text-align: center;}
.staion-data {display: flex;gap: 32px;align-items: center;}
.staion-data .data-info {min-width: 88px;flex-basis: auto;display: flex; align-items: center; justify-content: center; flex-direction: column;margin-left: 100px;}
.staion-data .data-info:only-child,
.staion-data .data-info:first-child {margin-left: 0;}
.staion-data .data-info strong {display: block;margin-top: 12px;}
.staion-data .data-info .gray_box_sm {border-radius: 100px;background: #EFF0F2;vertical-align: middle; padding: 5px 12px 5px 12px;font-size: 12px;font-weight: 500;line-height: 14.32px;color:#5A5C5F;}
.staion-data.two-rows {flex-direction: column;gap:0;padding: 15px 0;}
.staion-data.two-rows dl {display: flex;width: 100%;justify-content: space-between;gap:16px;padding: 24px 0;}
.staion-data.two-rows dl+dl {border-top: 1px solid #E2E3E7;}
.staion-data.two-rows dl dt {font-size: 18px;font-weight: 500;color:#909293;width: 100px;text-align: right;}
.staion-data.two-rows dl dd {width: 80px;color:#222;font-size: 20px;font-weight: 700;}

.station-board {display: flex;margin: 20px 0 0px;justify-content: space-between;align-items: center;min-height: 140px; padding: 0 40px;background-color: #fff;border-radius: 8px;box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.05);}
.station-board .staion-name {display: flex;align-items: center;gap:24px;}
.station-board .staion-name .sub-info {margin-top: 6px;font-size: 15px;font-weight: 400;line-height: 17.9px;color:#5A5C5F;}
.station-board .staion-name .sub-info span {color:#AFB5BC;}

.page-subtitle {margin-top: 40px;}

/* 모달 */
.form-el-list li {margin-bottom: 20px;}
.form-el-list li:last-child {margin-bottom: 0;}
.modal-confirm-msg {color:#35AD68;}

/* 탭메뉴 */
.tab-menu {border-bottom: 1.5px solid #222;display: flex;align-items: center;height:46px;margin-top: 16px;}
.tab-menu a {font-size: 18px;height: 100%;font-weight: 600;line-height: 21px;color:#222;padding:0 32px;display: flex;align-items: center;}
.tab-menu a.is-active {background-color: #222;color:#fff;border-top-left-radius: 8px;border-top-right-radius: 8px;}

/* 우편번호 */
.address-container {margin-top: 24px;}
.address-search .address-container {height: 330px; overflow-y: auto;margin-bottom: 30px;}
.address-container dt {font-size: 16px;font-weight: 600;line-height: 19px;color:#222;}
.address-container dd {font-size: 16px;font-weight: 400;line-height: 19px;color:#909293;padding: 6px 0 0 10px;}
.address-container dd + dt {margin-top: 16px;}
.address-search .btn-icon-back {position: absolute;left: 24px;top: 50%;transform: translateY(-50%);}
.address-search h3 {margin-left: 52px !important;}
.address-container li {border-bottom: 1px solid #E2E3E7;padding: 22px 0 16px;position: relative;}
.address-container li .tit {font-size: 16px;font-weight: 500;line-height:19px;color:#000;}
.address-container li .add {margin-top: 6px;font-size: 15px;font-weight: 500;line-height: 17px;color:#909293;}
.address-container li .add + .add {padding-top: 5px;}
.address-container li .add .label-default {border: 1px solid #cfd4da;padding: 4px 6px;width: 33px;height: 22px;margin-right: 6px;font-size: 12px;color:#909293;font-weight: 500;line-height: 14px;}
.address-container li .btn-select-add {position: absolute;right: 0;top: 16px;}
.hide {display: none;}

/* 스테이션 메인 */
.box-category__wrap {width: 100%;max-width: 1280px;display: flex;align-items: center;justify-content: center;gap: 16px;margin: 100px auto 0;}
.box-category__wrap .category__item {width: calc(100% / 4);height: 360px;border-radius: 32px;color:#fff;overflow: hidden;position: relative;display: flex;align-items: center; flex-direction: column;}
.box-category__wrap .category__item .cate-title {font-size: 28px;font-weight: 700;line-height: 33px;padding-top: 70px;}
.box-category__wrap .category__item a {display: block;position: absolute;left:0;bottom:0;text-align: center;width: 100%;height: 70px;line-height: 70px; background: rgba(0, 0, 0, 0.1);font-size: 20px;font-weight: 700;}
.box-category__wrap .category__item.item01 {background-color: #35AD68;}
.box-category__wrap .category__item.item02 {background-color: #0D6EFD;}
.box-category__wrap .category__item.item03 {background-color: #984ED2;}
.box-category__wrap .category__item.item04 {background-color: #FF7A00;}

.set-email__wrap .description {margin-top: 20px;}
.set-email__wrap .email-config {background-color: #fff;border-radius: 8px;margin: 20px 0;padding: 40px;}
.set-email__wrap .email-config form {max-width: 640px;}
.set-email__wrap .btn-black {width: 368px;}
.set-email__wrap .email-config form .btn-password-view {margin-right: 10px;}

.set-charge__wrap ul {display: flex;flex-direction: column;gap: 10px;margin:20px 0;}
.set-charge__wrap ul li {display: flex;justify-content: space-between;background-color: #fff;border-radius: 8px;padding: 0 60px 0 40px;height: 80px;align-items: center;}
.set-charge__wrap ul li .item {font-size: 20px;font-weight: 500;line-height: 23px;color:#222;position: relative;padding-left: 10px;}
.set-charge__wrap ul li .item::before {content: '';display: block;position: absolute;left:0;top: 50%;transform: translateY(-50%); width: 3px;height: 3px;border-radius: 50%;background-color: #222;}
.set-charge__wrap ul li .settting-controll {width:200px;display: flex;align-items: center;justify-content: space-between;}
.set-charge__wrap ul li .settting-controll .radio-box {width: 100%;display: flex;align-items: center;justify-content: space-between;}
.set-charge__wrap .btn-black {width: 368px;}

.error-msg {color: #FF4135;margin-top: 20px;font-size: 15px;font-weight: 400;line-height: 17px;}

.content__wrap-cp {margin-top: 40px;}
.cp-wrap__two-col {display: flex;justify-content: space-between;gap: 32px;margin-top:20px;}
.cp-wrap__two-col .left-handler {width: 50%;background-color: #fff;border-radius: 8px;padding: 48px;box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.05);}
.cp-wrap__two-col .right-display {width: 50%;background-color: #fff;border-radius: 8px;padding: 48px;box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.05);}
.cp-wrap__two-col .active {border: 2px solid #35AD68;}
.cp-wrap__two-col .right-display.disable {color:#E2E3E7;background-color: #E2E3E7;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);}
.cp-wrap__two-col .right-display.disable .font-type-h5-bold {color:#AFB5BC;}
.cp-wrap__two-col .right-display.disable .select-wrap {background-color: #E2E3E7;}
.cp-wrap__two-col .right-display.disable .select-wrap select { background: transparent;}
.cp-wrap__two-col .right-display.disable .form-element__inner.select-wrap::after {opacity: 0.3;}

.handle-case-bottom {display: flex;justify-content: space-between;gap:12px;margin-top: 20px;}
.handle-case-bottom .button__wrap {width: 368px;}
.handle-case-bottom .button__wrap .btn {width: 100%;}
.handle-case-bottom .display-msg {flex:1;background-color: #E2E3E7;height: 56px;border-radius: 8px;display: flex;align-items: center;justify-content: center;font-size: 18px;font-weight: 500;line-height: 21px;color:#5A5C5F;}

.process-wrap {display: flex;justify-content:space-between;align-items: center;width: 100%;max-width: 100px;gap: 4px;margin: 0 auto;}
.process-wrap .data {font-size: 18px;font-weight: 600;line-height: 21px;color:#35AD68;}
.process-wrap .process-graph {display: flex;position: relative;width:80px;height:20px;border-radius:  4px;background-color: #CFD4DA;overflow: hidden;}
.process-wrap .process-graph .processing-inner {width: 100%;height: 20px;background-color: #35AD68;border-radius: 4px 0 0 4px;}

/* tab */
.billing-tab__wrap {display: flex;flex-direction: column; margin-top: 33px;}
.tab-header-group ul {display: flex;align-items: center;justify-content: flex-start;gap: 8px;}
.billing-tab__wrap .btn-tab {display: flex;justify-content: center;align-items: center; width: 74px;height: 39px;border-radius: 16px;background-color: #CFD4DA;font-size: 15px;font-weight: 600;line-height: 17px;color:#fff;}
.tab-header-group ul li {display: flex;align-items: center;justify-content: flex-start;gap: 8px;}
.tab-header-group ul li.is-active {color: #35AD68;}
.tab-header-group ul li.is-active .btn-tab  {background-color: #35AD68;}
.tab-header-group .description {font-size: 20px;font-weight: 700;line-height: 23px;}
.table-list tbody th.tbody-tit-gray .form-element__wrap {max-width: 260px;margin:0 auto; flex-direction: row;align-items: center;}
.table-list tbody th.tbody-tit-gray  .form-element__wrap .input-type {height: 40px;}
.table-list tbody th.tbody-tit-gray .form-element__wrap .form-element__inner {width: calc(100% - 60px);}
.input-list {display: flex;width: 100%;max-width: 260px;margin: 0 auto;flex-direction: column;gap: 6px;}
.table-list tbody td .input-list .form-element__wrap .input-type {height: 40px;}

.gray-box-full__wrap {width: 100%;height: 80px;background-color: #F8F9FA;border-radius: 8px;margin-top: 8px;display: flex;justify-content: space-between;align-items: center;margin-bottom: 24px;;}
.gray-box-full__wrap .text {font-size: 18px;font-weight: 500;line-height: 21px;color:#909293;padding: 0 90px 0 72px;}
.gray-box-full__wrap .form-element__wrap {max-width: 430px;flex-direction: row;align-items: center;}
.gray-box-full__wrap .form-element__wrap .input-type {height: 40px;}
.gray-box-full__wrap .form-element__wrap .form-element__inner {width: calc(100% - 150px);}
.mx368 {width: 368px;}
.mx416 {width: 416px;}
.billing-table__white-box {padding: 48px;border-radius: 8px;background-color: #fff;box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.05);margin-bottom: 24px;}
.station-billing-table {display: flex;flex-direction: column;gap: 32px;max-width: 640px;}
.station-billing-table li.date-select .form-element__control {display: flex;align-items: center;gap: 24px;}
.station-billing-table li.date-select .form-element__wrap.has-unit-before .input-type {max-width: 286px;}
.station-billing-table li.date-select .form-element__wrap.has-unit-before .unit-label {background-color: #F8F9FA;height: 100%;width: 124px;font-size: 16px;font-weight: 400;line-height: 19px;border-right: 1px solid #CFD4DA;display: flex;align-items: center;justify-content: center;}
.station-billing-table li.date-select .form-element__wrap.has-unit-before .form-element__inner {padding:0;overflow: hidden;}
.form-element__wrap.has-unit .form-element__control {display: flex;gap: 24px;}
.form-element__wrap.has-unit .form-element__control .input-type:first-of-type {width: 416px;}
.form-element__wrap.has-unit .form-element__control .input-type:last-of-type {width: 200px;}
.station-billing-table .form-element__wrap.has-unit {height: auto;}